@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


 @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-curry: #E9C46A;
  --color-paprika: #E76F51;
  --color-earth: #6D4C41;
  --color-earth-light: #d9c6c0;
  --color-earth-hard: #30211c;
  --color-cream: #F1E9DB;
  --color-laurel: #2A9D8F;
} 
/* 
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
